.container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: sans-serir;
}

input {
  margin: 10px;
  padding: 10px;
  width: 80%;
  font-size: 1em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

strong {
  color: #333;
}
